@page "/staffs"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable
 
<h3 class="card-title">Staff</h3>
<br />

<a href="/staffs/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Staff
</a>
@if (Staffs == null)
{
    <div class="alert alert-info">Loading Staffs...</div>
}
else
{
    <table class="table table-responsive" id="staffsTable">
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Staff Gender</th>
                <th>Staff First Name</th>
                <th>Staff Last Name</th>
                <th>Staff Phone Number</th>
                <th>Staff Email</th>
                <th>Staff Rating</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Staffs)
            {
                <tr>
                    <td>@staff.Id</td>
                    <td>@staff.StaffGender</td>
                    <td>@staff.StaffFirstName</td>
                    <td>@staff.StaffLastName</td>
                    <td>@staff.StaffPhoneNumber</td>
                    <td>@staff.StaffEmail</td>
                    <td>@staff.StaffRating</td>
                    <td>@staff.StaffRole.RoleName</td>
                    <td>
                        <a href="/staffs/view/@staff.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/staffs/edit/@staff.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(staff.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Staff> Staffs;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");

    }

    async Task Delete(int staffID)
    {
        var staff = Staffs.First(q => q.Id == staffID);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {staff.StaffFirstName}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.StaffsEndpoint}/{staffID}");
            await OnInitializedAsync();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#staffsTable");
    }
    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#staffsTable");
    }

}
