@inject HttpClient _client

<EditForm Model="@vehiclecategory" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name: </label>
        </div>
        <InputText @bind-Value="@vehiclecategory.Name" class="form-control" />
        <ValidationMessage For="@(()=> vehiclecategory.Name)" />

        <div class="form-group">
            <label>Capacity: </label>
        </div>
        <InputNumber @bind-Value="@vehiclecategory.Capacity" class="form-control" />
        <ValidationMessage For="@(()=> vehiclecategory.Capacity)" />

        <div class="form-group">
            <label>Price: </label>
        </div>
        <InputNumber @bind-Value="@vehiclecategory.Price" class="form-control" />
        <ValidationMessage For="@(()=> vehiclecategory.Price)" />
    </fieldset>
    @if (!Disabled)
    {
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    }
    <BackToList Target="VehicleCategorys" />

</EditForm>
@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public VehicleCategory vehiclecategory { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
